@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.main-container{
    font-family: "Roboto";
    color: #183b56;
}
.image{
    width: 100vw;
}
.text-container{
    text-align: center;
    padding: 20px;
}
.headding{
    font-weight: bold;
}
.para{
    color: #5a7184;
}
.box1{
    margin-left: 30px;
    margin-right: 30px;
}